*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*container background*/
.wrapper{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(hsl(174.4deg 100% 29.41%)20%,hsl(68.57deg 8.86% 84.51%)20%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*container app*/
.wa-container{
    background-color: hsl(0deg 0% 91.76%);
    display: flex;
    flex-direction: row;
    height: 700px;
    width: 1000px;
}
/*container lista chat*/
.chat-list-container{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
}
/*header lista chat*/
.chat-list-header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: hsl(0deg 0% 91.76%);
}
.notifications-box{
    background-color: hsl(198.55deg 94.83% 77.25%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}
.notifications-text{
    width: 75%;
    height: 100%;
}
/*lista chat chiuse*/
.chat-list{
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg 0% 91.76%);
    overflow-y: auto;
}
.chat-list-box{
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg 0% 100%);
    overflow-y: auto;
}
.chat-list-box .chat-box:hover{
    background-color: hsl(180deg 4.76% 91.76%);
    cursor: pointer;
}
.chat-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}
.chat-img{
    width: 20%;
    height: 100%;
}
.chat-img img{
    width: 100%;
    height: 100%;
}
.chat-img-notifications{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0deg 0% 91.76%);
}
.chat-text{
    width: 55%;
    height: 100%;
}

.chat-hours{
    width: 20%;
    height: 100%;
}
.chat-hours-header{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/*chat principale*/
.open-chat{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
}

.open-chat-message{
    background-image: url('../img/mine.jpg');
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 100%;  
}
/*messaggi chat attiva */
.message-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sent{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;    
    margin-top: 0.5rem;
    margin-right: 1rem;
    background-color: hsl(94.29deg 84% 85.29%);    
}
.received{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 1rem;
    background-color: hsl(0deg 0% 100%);
}
